html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

body {
  width: 80%;
  margin: auto;
  padding: 0;
  min-height: 100% !important; }

.top-nav {
  display: block;
  margin: auto;
  text-align: center; }

.top-nav div.profil {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-image: url("/img/profil.jpg?v=1");
  background-size: 150%;
  background-position: top right;
  background-repeat: no-repeat; }

.top-nav span.name {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  color: #000000; }

#navbar {
  border-bottom: 1px solid #e5e5e5; }

#navbar ul li a {
  color: #1eb0de; }

#navbar ul li:hover, #navbar ul li.active {
  background-color: #1eb0de;
  transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s; }

#navbar ul li:hover a, #navbar ul li.active a {
  color: #FFFFFF;
  transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s; }

#navbar ul li.socials {
  padding: 0; }

#navbar ul li.socials:hover {
  background-color: transparent;
  transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s; }

#navbar ul li.socials a img {
  width: 25px;
  height: 25px; }

.part {
  margin-top: 10px !important; }

.part h2 {
  font-size: 1.2em;
  color: #2AA4FF; }

/*# sourceMappingURL=style.css.map */
