{% extends "squeletonAdmin.twig" %}

{% block title %} Accueil | Admin {% endblock %}
{% block assets %}
		{{ head|raw }}
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
    <script type="text/javascript" src="/bower_components/ckeditor/ckeditor.js"></script>
    <link rel="stylesheet" type="text/css" href="/bower_components/ckeditor/ckeditor.css" />
{% endblock %}

{% block body %}
<body>
{% endblock %} 

  {% block container %}
  
  {% include 'admin/navigation.twig' %} 


  <div class="row">

    <form method="post" action="/admin/action=post" enctype="multipart/form-data">

        <div class="col-sm-3">
          <textarea id="personnalityDecription" name="personnality">
            {{ params.description.personnality.content.text }}
          </textarea>
        </div> 

        <div class="col-sm-3">
          <textarea id="roadDecription" name="road">
            {{ params.description.road.content.text }}
          </textarea>
        </div>

        <div class="col-sm-3">
          <textarea id="talentDecription" name="talent">
            {{ params.description.talent.content.text }}
          </textarea>
        </div>

        <div class="col-sm-3">
          <textarea id="aboutDecription" name="about">
            {{ params.description.about.content.text }}
          </textarea>
        </div>

        <div class="col-sm-12">
            <input type="hidden" name="target" value="description" />
            <input type="submit" class="form-control btn btn-success" value="Envoyer" />
        </div>  

      </form>  

  </div>  
  {% endblock %}

{% block scripts %}
  <script>
      CKEDITOR.replace( 'personnalityDecription' );
      CKEDITOR.replace( 'roadDecription' );
      CKEDITOR.replace( 'talentDecription' );
      CKEDITOR.replace( 'aboutDecription');
  </script>
 {% endblock %} 

