{% extends "squeleton.twig" %}

{% block title %} Connexion {% endblock %}
{% block assets %}
		{{ head|raw }}
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
{% endblock %}

{% block body %}
<body>
{% endblock %} 

  {% block nav %}
    {% include 'navigation.twig' %}
  {% endblock %}

  {% block container %}
  
  <div class="row">
    <form method="post" action="/admin/action=connexion" enctype="multipart/form-data" data-toogle="validator">
      <div clas="col-sm-12">
        <table class="table">
          <tr>
            <td>
              Pseudo
            </td>  
            <td>
              <input type="text" class="form-control" required name="pseudo" />
            </td>
          </tr>  
          <tr>
            <td>
              Mot de passe
            </td> 
            <td>
              <input type="password" class="form-control" required name="password" />
            </td>  
          </tr> 
          <tr>
            <td colspan="2" align="center">
              <input type="submit" class="form-control btn btn-success" value="Connexion" />
            </td>  
          </tr> 
        </table>  
      </div>  
    </form> 
  </div> 

  {% endblock %}

{% block scripts %}
  <script>

  </script>
 {% endblock %} 

