{% extends "squeletonAdmin.twig" %}

{% block title %} Accueil | Admin {% endblock %}
{% block assets %}
		{{ head|raw }}

		<link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
    <link rel="stylesheet" type="text/css" href="/bower_components/ckeditor/ckeditor.css" />

    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/bower_components/ckeditor/ckeditor.js"></script>

{% endblock %}

{% block body %}
<body>
{% endblock %} 

  {% block container %}
  
  {% include 'admin/navigation.twig' %} 


  <div class="row"> 
      
      {% include 'admin/experiences/form.twig' %}
      {% include 'admin/experiences/list.twig' %}        

  </div>  
  {% endblock %}

{% block scripts %}

  <script>
    CKEDITOR.replaceAll( 'description');
  </script>

{% endblock %} 

