{% extends "squeletonAdmin.twig" %}

{% block title %} Accueil | Admin {% endblock %}
{% block assets %}
		{{ head|raw }}
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
    <script type="text/javascript" src="/bower_components/ckeditor/ckeditor.js"></script>
    <link rel="stylesheet" type="text/css" href="/bower_components/ckeditor/ckeditor.css" />
{% endblock %}

{% block body %}
<body>
{% endblock %} 

  {% block container %}
  
  {% include 'admin/navigation.twig' %}  


  <div class="row">

    <form method="post" action="/admin/action=langages" enctype="multipart/form-data">

        <div class="col-sm-12">
          <input type="text" name="name" class="form-control" required />
        </div> 

        <div class="col-sm-12">
          <input type="file" name="thumbnail" class="form-control" required />
        </div>

        <div class="col-sm-12">
            <input type="hidden" name="target" value="langage" />
            <input type="submit" class="form-control btn btn-success" value="Ajouter" />
        </div>  

      </form>  

  </div>  

  {% if params.success is defined %}

  <div class="row">
      <div class="col-sm-12 alert alert-success">
          {{ params.success }}
      </div>  
  </div>  

  {% endif %}  

  <div class="row">

    {% for langage in params.langages %}

        <img class="langage" data-title="{{ langage.name }}" src="{{ langage.img }}" style="width:50px;height:50px;display:inline-block" />

    {% endfor %}  

  </div>
    
  {% endblock %}

{% block scripts %}

<script type="text/javascript">
    $('.langage').tooltip();
</script>

{% endblock %} 

