<div class="row nav-admin">
    <div class="col-sm-12">
      <ul>
        <li>
          <a href="/admin">
            Description
          </a>
        </li>
        <li>
          <a href="/admin/action=langages">
            Languages
          </a>
        </li>
        <li>
          <a href="/admin/action=packages">
            Packages
          </a>
        </li>
        <li>
          <a href="/admin/action=websites">
            Sites internet
          </a>
        </li>
        <li>
          <a href="/admin/action=experiences">
            Experiences
          </a>
        </li>
        <li>
          <a href="/admin/action=deconnexion">
            <i class="fa fa-sign-out"></i>
          </a>
        </li>
      </ul>  
    </div>  
  </div>