{% extends "squeletonAdmin.twig" %}

{% block title %} Accueil | Admin {% endblock %}
{% block assets %}
		{{ head|raw }}
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
{% endblock %}

{% block body %}
<body>
{% endblock %} 

  {% block container %}
  
  {% include 'admin/navigation.twig' %} 

 <!-- Packages -->
  <div class="row">
    {% for package in params.packages %}
      <div class="col-sm-12">
        <a href="{{ package.link }}" target="_blank">{{ package.name }}</a> : {{ package.description }}
       </div> 
    {% endfor %}
  </div>

{% endblock %}

{% block scripts %}
  <script>
  </script>
 {% endblock %} 

