{% extends "squeletonAdmin.twig" %}

{% block title %} Accueil | Admin {% endblock %}
{% block assets %}
		{{ head|raw }}
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/bower_components/ckeditor/ckeditor.js"></script>
    <link rel="stylesheet" type="text/css" href="/bower_components/ckeditor/ckeditor.css" />
{% endblock %}

{% block body %}
<body>
{% endblock %} 

  {% block container %}
  
  {% include 'admin/navigation.twig' %}  


  <div class="row">
    <div class="col-sm-12">
      <i class="fa fa-plus showForm" data-target="#addWebsite"></i>
    </div>  
  </div>  

  <div class="row hidden" id="addWebsite">
    <form method="post" action="/admin/action=post" enctype="multipart/form-data">

        <!-- Nom du site -->
        <div class="form-group col-sm-12">
          <label for="websiteName">Nom du site</label>
          <input type="text" id="websiteName" required class="form-control" name="websiteName" />
        </div> 

        <!-- Lien du site -->
        <div class="form-group col-sm-12">
          <label for="websiteLink">Lien du site</label>
          <input type="text" id="websiteLink" required class="form-control" name="websiteLink" />
        </div> 

        <!-- Description du site -->
        <div class="form-group col-sm-12">
          <label for="websiteDescription">Description du site</label>
          <textarea id="websiteDescription" name="websiteDescription"></textarea>
        </div> 

        <!-- Image black -->
        <div class="form-group col-sm-12">
          <label for="imageColor">Image</label>
          <input type="file" class="form-control" id="imageColor" name="imageColor" />
        </div>

        <!-- Submit -->
        <div class="form-group col-sm-12">
          <input type="hidden" name="target" value="website" />
          <input type="submit" class="form-control btn btn-success" value="Envoyer" />
        </div>

    </form>  
  </div>  

  <div class="row">
      {% for website in params.websites %}
        <div class="col-sm-4">
            <h2>{{ website.name }}</h2>
            <img class="img img-responsive" src="{{ website.imageColor }}" />
        </div>  
      {% endfor %}  
  </div>  

  {% endblock %}

{% block scripts %}
  <script>
      CKEDITOR.replace( 'websiteDescription' );
  </script>
 {% endblock %} 

