.showForm {
  cursor: pointer;
  float: right;
  font-size: 1.5em; }

.nav-admin ul {
  width: 100%;
  text-align: center; }

.nav-admin ul li {
  display: inline-block;
  margin: 10px; }

.nav-admin ul li a {
  text-decoration: none;
  color: #000000; }

/*# sourceMappingURL=admin.css.map */
