html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

body {
  width: 80%;
  margin: auto;
  padding: 0;
  min-height: 100% !important; }

.top-nav {
  display: block;
  margin: auto;
  text-align: center; }

.top-nav div.profil {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-image: url("/img/profil.jpg?v=1");
  background-size: 150%;
  background-position: top right;
  background-repeat: no-repeat; }

.top-nav span.name {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  color: #000000; }

#navbar {
  border-bottom: 1px solid #e5e5e5; }

#navbar ul {
  text-align: center;
  width: 100%; }

#navbar ul li {
  float: none !important;
  display: inline-block; }

#navbar ul li a {
  color: #1eb0de; }

#navbar ul li:hover, #navbar ul li.active {
  background-color: #1eb0de;
  transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s; }

#navbar ul li:hover a, #navbar ul li.active a {
  color: #FFFFFF;
  transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s; }

#navbar ul li.socials {
  padding: 0; }

#navbar ul li.socials:hover {
  background-color: transparent;
  transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s; }

#navbar ul li.socials a img {
  width: 25px;
  height: 25px; }

.icon-bar {
  background-color: #000000; }

.part {
  margin-top: 20px !important;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px; }

.description .glyphicon {
  display: block;
  text-align: center;
  margin: auto;
  color: #2AA4FF;
  font-size: 1.5em; }

.part h2 {
  margin: 0px 0px 10px 0px !important;
  font-size: 1.2em;
  color: #2AA4FF; }

.to-top {
  position: fixed;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  font-size: 2em;
  display: none; }

.timeline .timeline-items {
  padding-top: 12px !important; }

.timeline-item {
  margin-bottom: 22px !important; }

.timeline-item h3 {
  font-size: 1em; }

/*# sourceMappingURL=style.css.map */
