<div class="col-sm-12">
    <i class="fa fa-plus showForm" data-target="#addExperience"></i>
</div> 

<div class="cols-sm-12 hidden" id="addExperience"> 
    <form method="post" action="/admin/action=post" enctype="multipart/form-data">

        <table class="table">

          <tr>
              <td align="left">
                Du
              </td>

              <td align="left">
                <select name="dayStart" class="form-control">
                  {% for day in params.days %}
                  <option value="{{ day }}">{{ day }}</option>
                  {% endfor %}  
                </select>
              </td> 

              <td align="left">
                <select name="monthStart" class="form-control">
                  {% for month in params.months %}
                  <option value="{{ month }}">{{ month }}</option>
                  {% endfor %}  
                </select>
              </td>  

              <td align="left">
                  <select name="yearStart" class="form-control">
                    {% for year in params.years %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}  
                  </select>
              </td>

          </tr>

          <tr>

              <td align="left">
                Au
              </td>

              <td align="left">
                <select name="dayEnd" class="form-control">
                  {% for day in params.days %}
                  <option value="{{ day }}">{{ day }}</option>
                  {% endfor %}  
                </select>
              </td> 

              <td align="left">
                <select name="monthEnd" class="form-control">
                  {% for month in params.months %}
                  <option value="{{ month }}">{{ month }}</option>
                  {% endfor %}  
                </select>
              </td>  

              <td align="left">
                  <select name="yearEnd" class="form-control">
                    {% for year in params.years %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}  
                  </select>
              </td> 

          </tr> 

          <tr>
              <td align="left">
                Poste
              </td> 

              <td align="left">
                <input type="text" name="poste" class="form-control" required/>
              </td> 

              <td align="left">
                Entreprise
              </td> 

              <td align="left">
                <input type="text" name="enterprise" class="form-control" required/>
              </td> 

          </tr>

          <tr>
              <td align="left">
                Lien du site
              </td> 

              <td align="left">
                <input type="text" name="link" class="form-control" required/>
              </td> 

              <td align="left">
                Toujours en poste
              </td> 

              <td align="left">
                <input type="checkbox" class="form-control" name="actual"/>
              </td> 

          </tr>

          <tr>
              <td align="left">
                Description
              </td> 

              <td align="left" colspan="3">
                <textarea name="description" class="description form-control" required></textarea>
              </td>  

          </tr>

        </table>  

        <div class="col-sm-12">
            <input type="hidden" name="target" value="experiences" />
            <input type="submit" class="btn btn-success" value="Envoyer" />
        </div>  

    </form>
</div> 