	
{% for key,experiences in params.experiences %}
	{% for key2,experience in experiences %}

		<div class="col-sm-12">
			{{ experience.enterprise }} <i class="fa fa-plus showForm" data-target="#form-{{ key }}-{{key2}}"></i>
		</div>	

		<div class="col-sm-12 hidden" id="form-{{ key }}-{{key2}}"> 
		    <form method="post" action="/admin/action=post" enctype="multipart/form-data">

		        <table class="table">

		          <tr>
		              <td align="left">
		                Du
		              </td>

		              <td align="left">
		                <select name="dayStart" class="form-control">
		                  {% for day in params.days %}
		                  <option value="{{ day }}" 
		                  {% if experience.dates.debut.jour == day %} selected {% endif %}
		                  >
		                  	{{ day }}
		                  </option>
		                  {% endfor %}  
		                </select>
		              </td> 

		              <td align="left">
		                <select name="monthStart" class="form-control">
		                  {% for month in params.months %}
		                  <option value="{{ month }}"
		                  {% if experience.dates.debut.mois == month %} selected {% endif %}
		                  >
		                  		{{ month }}
		                  </option>
		                  {% endfor %}  
		                </select>
		              </td>  

		              <td align="left">
		                  <select name="yearStart" class="form-control">
		                    {% for year in params.years %}
		                    <option value="{{ year }}"
		                    {% if experience.dates.debut.annee == year %} selected {% endif %}
		                    >
		                    	{{ year }}
		                    </option>
		                    {% endfor %}  
		                  </select>
		              </td>

		          </tr>

		          <tr>

		              <td align="left">
		                Au
		              </td>

		              <td align="left">
		                <select name="dayEnd" class="form-control">
		                  {% for day in params.days %}
		                  <option value="{{ day }}"
		                  	{% if experience.dates.fin.jour == day %} selected {% endif %}
		                  >
		                  	{{ day }}
		                  </option>
		                  {% endfor %}  
		                </select>
		              </td> 

		              <td align="left">
		                <select name="monthEnd" class="form-control">
		                  {% for month in params.months %}
		                  <option value="{{ month }}"
		                  	{% if experience.dates.fin.mois == month %} selected {% endif %}
		                  >
		                  		{{ month }}
		                  </option>
		                  {% endfor %}  
		                </select>
		              </td>  

		              <td align="left">
		                  <select name="yearEnd" class="form-control">
		                    {% for year in params.years %}
		                    <option value="{{ year }}"
		                    	{% if experience.dates.fin.annee == year %} selected {% endif %}
		                    >
		                    	{{ year }}
		                    </option>
		                    {% endfor %}  
		                  </select>
		              </td> 

		          </tr> 

		          <tr>
		              <td align="left">
		                Poste
		              </td> 

		              <td align="left">
		                <input type="text" name="poste" class="form-control" required 
		                value="{{ experience.poste}}" />
		              </td> 

		              <td align="left">
		                Entreprise
		              </td> 

		              <td align="left">
		                <input type="text" name="enterprise" class="form-control" required
		                value="{{experience.enterprise}}" />
		              </td> 

		          </tr>

		          <tr>
		              <td align="left">
		                Lien du site
		              </td> 

		              <td align="left">
		                <input type="text" name="link" class="form-control" required
		                value="{{experience.link}}" />
		              </td> 

		              <td align="left">
		                Toujours en poste
		              </td> 

		              <td align="left">
		                <input type="checkbox" class="form-control" name="actual" {% if experience.actual == 1 %} checked {% endif %}/>
		              </td> 

		          </tr>

		          <tr>
		              <td align="left">
		                Description
		              </td> 

		              <td align="left" colspan="3">
		                <textarea name="description" class="description form-control" required>
		                	{{ experience.description|raw }}
		                </textarea>
		              </td>  

		          </tr>

		        </table>  

		        <div class="col-sm-12">
		        	<input type="hidden" name="id" value="{{experience.id}}" />
		            <input type="hidden" name="target" value="experienceUpdate" />
		            <input type="submit" class="btn btn-success" value="Modifier" />
		        </div>  

		    </form>
		</div> 	
	{% endfor %}
{% endfor %}		