<form method="post" action="/index.php" ng-submit="isCaptchaOk($event)" enctype="multipart/form-data">
	
	<div class="row">	
		<div class="contact input-group col-sm-12">

			<span class="input-group-addon">
				<span class="fa fa-user"></span>
			</span>
			<input type="text" class="form-control" name="name" required placeholder="Votre nom"> 

			<span class="input-group-addon">
				<span class="fa fa-pencil-square"></span>
			</span>
			<input type="text" class="form-control" name="subject" required placeholder="Sujet de votre message"> 

			<span class="input-group-addon">
				<span class="fa fa-at"></span>
			</span>
			<input type="text" class="form-control" name="mail" required placeholder="Votre adresse mail"> 
		</div>

		<div class="contact input-group col-sm-12">	
			<span class="input-group-addon">
				<span class="fa fa-envelope-o"></span>
			</span>
			<textarea name="message" class="form-control" required placeholder="Votre message"></textarea>	
		</div>

		<div class="input-group col-sm-12" style="margin-top:5px;" ng-init="controlCapatcha()">
			<span class="input-group-addon">
				<span class="fa fa-lock"></span>
			</span>	
			<span class="input-group-addon">
				{[{firstNumber}]} + {[{secondNumber}]}
			</span>	
			<input type="number" name="control" ng-model="captchaResult"/>
			<button type="submit" name="contact" class="btn btn-success">Envoyer</button>
		</div>	
	</div>	
</form>	