<div class="timeline">
	<ul class="timeline-items">
		<li class="is-hidden timeline-item centered"> 
			<h3>
				<a href="{{ params.experiences.actual[0].link }}" target="_blank">
					<i class="fa fa-link"></i> {{ params.experiences.actual[0].enterprise }}
				</a>
				(en poste)
			</h3>
			<hr>
			<p>
				{{ params.experiences.actual[0].description|raw }}
			</p>	
			<time>Depuis le {{ params.experiences.actual[0].date_start }}, soit {{ params.experiences.actual[0].duree }}</time>
		</li>


	{% for experience in params.experiences.passed %}

		<li class="is-hidden timeline-item centered"> 
			<h3>
				<a href="{{ experience.link }}" target="_blank">
					<i class="fa fa-link"></i> {{ experience.enterprise }}
				</a>
			</h3>
			<hr>
			<p>
				{{ experience.description|raw }}
			</p>	
			<time>Du {{ experience.date_start }} au {{ experience.date_end }}, soit {{ experience.duree }}</time>
		</li>

	{% endfor %}	

	</ul>

</div>		