{% extends "squeleton.twig" %}

{% block title %} Accueil {% endblock %}

{% block assets %}

		{{ head|raw }}

		<link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" href="/js/jquery-timelify/css/timelify.css">

    <script src="/js/jquery-timelify/js/jquery.timelify.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>

{% endblock %}

{% block body %}

<body ng-controller="HomeController" ng-init="loadWebsites()">

{% endblock %} 

  {% block nav %}
    {% include 'navigation.twig' %}
  {% endblock %}

  {% block container %}
  

  <!-- Description -->  	
  <div class="row part description">
  	<div class="col-sm-3">
      {{params.description.personnality.icon|raw }}
      <br />
  		{{params.description.personnality.content.text|raw }}
  	</div>		
    <div class="col-sm-3">
      {{params.description.road.icon|raw }}
      <br />
      {{params.description.road.content.text|raw}}
    </div>  
    <div class="col-sm-3">
      {{params.description.talent.icon|raw }}
      <br />
      {{params.description.talent.content.text|raw}}
    </div>  
    <div class="col-sm-3">
      {{params.description.about.icon|raw }}
      <br />
      {{params.description.about.content.text|raw}}
    </div>  
  </div>	

  <!-- Packages -->
  <div class="row part">

    <div class="col-sm-12">
        <h2>Mes packages</h2>
    </div>  

    {% for package in params.packages %}
      <div class="col-sm-12">
        <a href="{{ package.link }}" target="_blank">{{ package.name }}</a> : {{ package.description }}
       </div> 
    {% endfor %}
  </div> 

  <!-- Langages -->
  <div class="row part">

    <div class="col-sm-12">
        <h2>Les technologies que j'utilise</h2>
    </div> 

    <div class="col-sm-12">
    {% for langage in params.langages %}

        <img class="langage" data-title="{{ langage.name }}" src="{{ langage.img }}" style="width:50px;height:50px;display:inline-block" />

    {% endfor %}
    </div>  
  </div>

  <!-- Sites -->
  <div class="row part">

    <div class="col-sm-12">
        <h2>Mes travaux</h2>
    </div> 

    <div class="col-sm-4" ng-repeat="(id,website) in websites">
      <img class="img img-responsive" src="{[{ website.imageBlack }]}"
      ng-mouseover="changeBackgroundWebsite(website.imageColor,$event)" 
      ng-mouseout="changeBackgroundWebsite(website.imageBlack,$event)" 
      ng-click="buildModal(id)" />
     </div> 

  </div> 

  <!-- Experiences -->
  <div class="row part">

    <div class="col-sm-12">
        <h2>Mes Experiences</h2>
    </div> 

    {% include 'experiences.twig' %}

  </div> 

  <!-- Contact -->
  <div class="row part">

    <div class="col-sm-12">
        <h2>Me contacter</h2>
    </div> 

    {% include 'contact.twig' %}

  </div> 

  {% endblock %}

{% block scripts %}
  <script>
  
      angular.bootstrap(document, ['AppGlobal']);

      $('.langage').tooltip();

      $('.timeline').timelify({
        animLeft: "fadeInLeft",
        animCenter: "fadeInUp",
        animRight: "fadeInRight",
        animSpeed: 600,
        offset: 150
      });

  </script>
 {% endblock %} 

