<nav class="navbar navbar-defaut">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  
  <div id="navbar" class="navbar-collapse collapse">

     <div class="top-nav">
      <div class="profil"></div>
      <span class="name">
          Yann Fourgaut - Développeur web
      </span>
     </div>

    <ul class="nav navbar-nav row">
      <li class="socials">
        <a href="https://bitbucket.org/yannfourgaut/" target="_blank">
          <img src="/img/socials/bitbucket.png" alt="bitbucket"/>
        </a>
      </li>
      <li class="socials">
        <a href="https://www.youtube.com/channel/UCGmuhJHDgmlgMhKyxab0wFg" target="_blank">
          <img src="/img/socials/youtube.png" alt="youtube"/>
        </a>
      </li>
      <li class="socials">
        <a href="http://www.viadeo.com/p/00223ddffyhxum25" target="_blank">
          <img src="/img/socials/viadeo.png" alt="viadéo"/>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="to-top">
  <span class="glyphicon glyphicon-triangle-top"></span>
</div>
