<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">

		<title>
			{% block title %}{% endblock %}
		</title>

		<link rel="icon" type="image/favicon" href="/img/tools/favicon.png" />
		
		{% block assets %}{% endblock %}
	</head>

	{% block body %}{% endblock %}

	<div class="container">

		{% block nav %}{% endblock %}

		{% block container %}{% endblock %}

	</div>

	{% block scripts %}{% endblock %}
	{% block footer %}{% endblock %}
	</body>
</html>
