<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">

		<title>
			{% block title %}{% endblock %}
		</title>
		
		{# Script Google Tag Manager #}
		{% if GoogleTagManager is defined and GoogleTagManager.gtm is defined %}
			{{ GoogleTagManager.gtm.script | raw}}
		{% endif %}

		<link rel="icon" type="image/favicon" href="/img/tools/favicon.png" />
		
		{% block assets %}{% endblock %}
	</head>

	{% block body %}{% endblock %}
	
	{# NoScript Google Tag Manager #}
	{% if GoogleTagManager is defined and GoogleTagManager.gtm is defined %}
		{{ GoogleTagManager.gtm.noscript | raw}}
	{% endif %}	
	
	{# Google Analytics #}
	{% if GoogleTagManager is defined and GoogleTagManager.ga is defined %}
		{{ GoogleTagManager.ga | raw}}
	{% endif %}	

	<div class="container">

		{% block nav %}{% endblock %}

		{% block container %}{% endblock %}

	</div>

	<!-- Modal -->
	<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-body">
	      </div>
	    </div>
	  </div>
	</div>

	{% block scripts %}{% endblock %}
	{% block footer %}{% endblock %}
	</body>
</html>
