{% extends "squeleton.twig" %}

{% block title %} Oups, une erreur est survenue {% endblock %}
{% block assets %}
		{{ head|raw }}
{% endblock %}

{% block body %}
	<body>
{% endblock %}

{% block nav %}
	{% include 'navigation.twig' %}
{% endblock %}

{% block container %}
	<div class="row">
		{{params.message}}
	</div>	
{% endblock %}

